In [3]:
#shortcuts
# Shift + Enter = to run current cell to go to next cell
# Alt + Enter = to run current cell and insert a new cell below

In [4]:
#whatever you define inside python is considered as an object

print('Strings_')
# string index starts from 0 and from end it starts from -1

Strings_

In [5]:
s = "Tushar Annam"

In [6]:
print(s)

Tushar Annam

In [7]:
print(s[0:3])

Tus

In [8]:
print(s[-1])

m

String Concatenation and Repetition

In [9]:
# concatenation
s1 = "Hello"
s2 = "World"

In [10]:
print(s1 + s2)
print(s1 , s2)  # , will give extra space
print(s1 + " " + s2)

HelloWorld
Hello World
Hello World

In [11]:
# repetition
print(s1 * 5)
print("Tushar " * 7)

HelloHelloHelloHelloHello
Tushar Tushar Tushar Tushar Tushar Tushar Tushar

String Slicing & Indexing

In [12]:
# Indexing is extracting one single character from a string
# Slicing is extracting multiple characters from a string

In [13]:
s1 = "Tushar Annam"

In [14]:
print(s1[1])    #this is indexing
print(s1[1:])   #this is slicing
print(s1[2:7])
print(s1[-1])

u
ushar Annam
shar
m

In [15]:
s1[3:9]

'har An'

In [16]:
print("Annam" in s1)

True

Basic Built-in String Methods

In [17]:
#whatever you define inside python is considered as an object
#Objects in python have built-in methods.

In [18]:
s = "Hello World"

In [19]:
print(s.upper())
print(s.lower())

HELLO WORLD
hello world

In [20]:
print(type(s))

<class 'str'>

Print Formatting usinf Fstring

In [21]:
fname = "Tushar"
lname = "Annam"

print(f'My firstname is: {fname} and lastname is: {lname}')

My firstname is: Tushar and lastname is: Annam

In [22]:
print(fname.replace('Tus','Hhus'))

Hhushar

In [23]:
print(fname)

Tushar

Numbers

In [24]:
# Two main types: 

# Integer: which don't have any decimal
# eg; 10

# Float: which have decimals or exponential (e) value
# eg; 10.27 or 4E2 (4 times 10 to the power of 2)

In [25]:
print(4*3)     #give integer

12

In [26]:
5/2     #it will get float value

2.5

In [27]:
5//2    #double front-slash is used to get integer

2

In [28]:
type(5/2)

float

In [29]:
type(5//2)

int

In [30]:
print(2**3) #power

8

In [31]:
a=10
#a=a/2
a/=2   #same as above
print(a)

5.0

Datatypes

In [32]:
#everyting in python is an object

#two types of datatypes:
#single value: None, int, float, bool, str, complex
#multiple values: list, tuple, set, dict

In [33]:
a = 10
b = 12.34
c = 'Hello'
d = True
print(f'A: {a}, B: {b}, C: {c}, D: {d}')

A: 10, B: 12.34, C: Hello, D: True

In [34]:
10 == 10

True

Lists

In [35]:
# Data structures is a way computer stores information inside it.
# Data structures is used to store data efficiently 
# and retrive and process the data in efficient manner.

In [36]:
# Difference between String & List:
# Both are used to store data but the main difference is;
# String stores only string value which are in single or double quotes
# where as list stores collection of data which can be of any datatypes.
# the data in both can be accessed using index.

Points of List:
1. Ordered
2. Changeable: List is mutable and we can modify items.
3. various Datatypes: Can store multiple datatypes
4. Contains Dupicate: Allow Duplicates of data.

In [37]:
# we can also store a list inside a list
l = [2, 2, 45.5, 'S1', True, [23,51,98]]

In [38]:
l

[2, 2, 45.5, 'S1', True, [23, 51, 98]]

In [39]:
print(l)

[2, 2, 45.5, 'S1', True, [23, 51, 98]]

In [40]:
print(len(l))

6

Adding Elements to List;
Three Types:
1. append()
2. extend()
3. insert()

In [41]:
l.append(27)
print(l)

[2, 2, 45.5, 'S1', True, [23, 51, 98], 27]

In [42]:
l.append([2,56,47]) #it will append ths whole list as a one element.
print(l)
print(l[-1])

[2, 2, 45.5, 'S1', True, [23, 51, 98], 27, [2, 56, 47]]
[2, 56, 47]

In [43]:
l.extend([12,234,80,45])    #it will consider as individual element.
print(l)
print(l[-1])

[2, 2, 45.5, 'S1', True, [23, 51, 98], 27, [2, 56, 47], 12, 234, 80, 45]
45

Slicing
1. Slicing is used to access individual element or a range of elements in a list.

In [44]:
l1 = list(range(10))
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
l1[2:5]

[2, 3, 4]

In [46]:
l1[2:5:2]   #object[start:end:step]

[2, 4]

In [47]:
print(l1[-4:-1])

[6, 7, 8]

In [48]:
print(l1[1::2])     #object[start::step]

[1, 3, 5, 7, 9]

In [49]:
l1[2::3]

[2, 5, 8]

List Operations,    
0. as shown above code for append and insert.
1. .append
2. .insert
3. .extend

In [50]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
l1.insert(5,'Tushar')   #(index,value)
l1

[0, 1, 2, 3, 4, 'Tushar', 5, 6, 7, 8, 9]

Real world usecase of list is shown in iPhone Data Analysis Mini Project

Dictionary

In [52]:
# Dictionary is a key-value pair.
# in case of string or list, we can access element using index number
# whereas in Dictionary, we have to pass the key to get the respected value.

Points of Dictionary:
1. Unordered: items can be accessed with key and without using index i.e its unordered.
2. Unique: Keys should be unique, but can have duplicate values.
3. Changable: (Mutable) we can add/modify/remove key-value after creation.

In [53]:
# NOTE: TO create dictionary, we use {} braces 
# while to access the value of a key, we use [] just like list.

In [54]:
d = {'k1':27, 'k2':1998, 3:23}

In [55]:
d

{'k1': 27, 'k2': 1998, 3: 23}

In [56]:
d[3]

23

In [57]:
d['k1']

27

In [58]:
#modify
d['k2']='Annam'
d

{'k1': 27, 'k2': 'Annam', 3: 23}

In [59]:
d['k1'] - 27

0

In [60]:
# Arithmatic operation
d['k1'] = d['k1'] - 27
print(d)

{'k1': 0, 'k2': 'Annam', 3: 23}

In [61]:
#we can also add list into dictionary
d1 = {'key1':27, 'key2':3, 'key3':1998, 'key4':[21,54,82]}
d1

{'key1': 27, 'key2': 3, 'key3': 1998, 'key4': [21, 54, 82]}

In [62]:
d1['key4']

[21, 54, 82]

In [63]:
d1['key4'][2]   #third sub-element

82

In [64]:
d1['key4'][1:3]

[54, 82]

In [65]:
d1['key4'][-1]

82

In [66]:
d1['key3']

1998

In [67]:
d1

{'key1': 27, 'key2': 3, 'key3': 1998, 'key4': [21, 54, 82]}

In [68]:
d1['key1'] = d1['key1'] + 100
d1

{'key1': 127, 'key2': 3, 'key3': 1998, 'key4': [21, 54, 82]}

In [69]:
d1['key2'] += 200 #same as above
d1

{'key1': 127, 'key2': 203, 'key3': 1998, 'key4': [21, 54, 82]}

In [70]:
#adding new key-value to existing dictionary
d1['newkey5'] = ['india','USA','russia']
d1

{'key1': 127,
 'key2': 203,
 'key3': 1998,
 'key4': [21, 54, 82],
 'newkey5': ['india', 'USA', 'russia']}

In [96]:
d2 = {}     #creating new dictionary
d2['k1'] = 'Tushar'
d2['k2'] = 'Annam'
d2['k3'] = 'The'
d2

{'k1': 'Tushar', 'k2': 'Annam', 'k3': 'The'}

In [2]:
d3 = {'k1':'Hello','k2':'world','k3':'Good','k4':'Morning','k5':{1:'Hey',2:'Hii'}}
d3

{'k1': 'Hello',
 'k2': 'world',
 'k3': 'Good',
 'k4': 'Morning',
 'k5': {1: 'Hey', 2: 'Hii'}}

In [110]:
print(d3['k5'][2])

Hii

In [111]:
for d in d3:
    print(d)

print("#################")
for d in d3.keys():
    print(d)
    
print("#################")
for d in d3.values():
    print(d)

k1
k2
k3
k4
k5
#################
k1
k2
k3
k4
k5
#################
Hello
world
Good
Morning
{1: 'Hey', 2: 'Hii'}

In [4]:
for key,value in d3.items():    #getting key, value both in single for loop
    print(f"The key {key} has {value} value")

The key k1 has Hello value
The key k2 has world value
The key k3 has Good value
The key k4 has Morning value
The key k5 has {1: 'Hey', 2: 'Hii'} value

In [135]:
for d in d3.items():    #get key-value both
    print(d)

('k1', 'Hello')
('k2', 'world')
('k3', 'Good')
('k4', 'Morning')
('k5', {1: 'Hey', 2: 'Hii'})

In [128]:
# demo for all dictionary methods
dict1 = {1: "Python", 2: "Java", 3: "Ruby", 4: "Scala"}

# copy() method
dict2 = dict1.copy()
print(dict2)

# clear() method
dict1.clear()   #it will clear the dictionary
print(dict1)

# get() method
print(dict2.get(1))     #passing key to get method

# items() method
print(dict2.items())    #it will print key-value both

# keys() method
print(dict2.keys())

# pop() method
dict2.pop(4)        #removing key no. 4 with its value
print(dict2)

# popitem() method
dict2.popitem()     #it will remove last key-value pair
print(dict2)

# update() method
dict2.update({3: "Scala"})
print(dict2)

# values() method
print(dict2.values())

{1: 'Python', 2: 'Java', 3: 'Ruby', 4: 'Scala'}
{}
Python
dict_items([(1, 'Python'), (2, 'Java'), (3, 'Ruby'), (4, 'Scala')])
dict_keys([1, 2, 3, 4])
{1: 'Python', 2: 'Java', 3: 'Ruby'}
{1: 'Python', 2: 'Java'}
{1: 'Python', 2: 'Java', 3: 'Scala'}
dict_values(['Python', 'Java', 'Scala'])

In [132]:
print(dict2)
dict2.popitem()

{1: 'Python', 2: 'Java'}

(2, 'Java')

In [133]:
dict2

{1: 'Python'}

Sets & Booleans

Points of Sets:
1. Unordered
2. Unique: Only unique elements are stored inside it. That means, No duplicates are stored.
3. Various Datatype: Can store multiple datatype

In [72]:
#NOTE: sets are created using () braces.

In [92]:
#converting list to set
l1 = [1,1,1,1,2,2,2,5,5,5,5,5,1,1,1, 'T'], True
l1

([1, 1, 1, 1, 2, 2, 2, 5, 5, 5, 5, 5, 1, 1, 1, 'T'], True)

In [74]:
s1 = set(l1)
s1              #only unique values are stored.

{1, 2, 5}

In [75]:
s2 = set()

In [76]:
s2.add(27)  #it takes only one argument
s2

{27}

In [77]:
s2.add(31)
s2

{27, 31}

In [78]:
type(s2)

set

In [79]:
s2.add(45)
s2

{27, 31, 45}

In [80]:
s2.remove(31)
s2

{27, 45}

In [115]:
s3 = {12,34,56,67}

In [116]:
s3

{12, 34, 56, 67}

In [117]:
type(s3)

set

In [113]:
s4 = {1,2,3,4,5}
s4

{1, 2, 3, 4, 5}

In [114]:
print(type(s4))

<class 'set'>

Tuple               

Points of Tuple:
1. Tuple is similar to List
2. The only difference between both of them is, List are Changable where as Tuple are not.

In [118]:
t1 = (23,23,45,67,"abfg")
t1

(23, 23, 45, 67, 'abfg')

In [119]:
type(t1)

tuple

In [120]:
#to insert a new value in existing tuple, 
#there is only one way i.e to overwrite the tuple.

In [121]:
t1

(23, 23, 45, 67, 'abfg')

In [88]:
t1 = (23,45,67,"abfg",'Tushar','Annam')
t1

(23, 45, 67, 'abfg', 'Tushar', 'Annam')

In [89]:
t1[-1]

'Annam'

In [90]:
t1[0]

23

In [93]:
t1

(23, 45, 67, 'abfg', 'Tushar', 'Annam')

In [95]:
t1[1]

45

if, elif, else statement

In [124]:
a=10
b=20

if(a<b):
    print("a is less than b")
elif(a>b):
    print("a is greater than b")
else:
    print("a is equal to b")
print("out of if-else block")

a is less than b
out of if-else block

For & While Loop

Points:
1. For loop works on iteration
2. While loop works on condition

In [125]:
#For loop

l = [1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

In [126]:
for j in range(10):
    print(j)

0
1
2
3
4
5
6
7
8
9

In [127]:
# while loop

a = 5
while(a<10):
    print(a)
    a += 1

5
6
7
8
9