In [1]:
print('Hello')

Hello

In [2]:
import pandas as pd

In [35]:
d1 = pd.read_csv("G:/TUSHAR ANNAM/Python/datawithdarshil_python-for-data-engineering-main/python-for-data-engineering-main/4. Python Advance/data/weather_2012.csv")
d1

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
d1['Visibility (km)'].head()

0    8.0
1    8.0
2    4.0
3    4.0
4    4.8
Name: Visibility (km), dtype: float64

In [7]:
d1['Visibility (km)'].head() + 5

0    13.0
1    13.0
2     9.0
3     9.0
4     9.8
Name: Visibility (km), dtype: float64

In [10]:
#new column is created.

d1['new_temp_col'] = d1['Temp (C)'] + d1['Dew Point Temp (C)']

In [12]:
d1.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp_col
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8

.apply() function

If we want to apply any logic then we first create a function for storing that logic and then we pass that function in apply function.

In [13]:
def times2(value):
    return value * 2

In [14]:
d1['Visibility (km)'].head()

0    8.0
1    8.0
2    4.0
3    4.0
4    4.8
Name: Visibility (km), dtype: float64

In [15]:
d1['Visibility (km)'].apply(times2).head()

0    16.0
1    16.0
2     8.0
3     8.0
4     9.6
Name: Visibility (km), dtype: float64

.describe() function

In [16]:
d1['Visibility (km)'].describe()

count    8784.000000
mean       27.664447
std        12.622688
min         0.200000
25%        24.100000
50%        25.000000
75%        25.000000
max        48.300000
Name: Visibility (km), dtype: float64

Adding / Updating Columns

In [20]:
#Q. Update value of Visibility by multiplying into 1000
updated_visibility = d1['Visibility (km)'] * 1000   #good practice to store it in a variable
d1['Visibility (km)'] = updated_visibility

In [21]:
d1['Visibility (km)'].head()

0    8000000.0
1    8000000.0
2    4000000.0
3    4000000.0
4    4800000.0
Name: Visibility (km), dtype: float64

.rename() function               
renaming columns in dataframe

In [24]:
d1.rename(columns={'Visibility (km)': 'Visibility (kilometer)'}, inplace=True)  #if we want to store it in variable then we will remove inplace parameter.
d1

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (kilometer),Stn Press (kPa),Weather,new_temp_col
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8000000.0,101.24,Fog,-5.7
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8000000.0,101.24,Fog,-5.5
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4000000.0,101.26,"Freezing Drizzle,Fog",-5.2
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4000000.0,101.27,"Freezing Drizzle,Fog",-4.7
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4800000.0,101.23,Fog,-4.8
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9700000.0,100.13,Snow,-2.6
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9700000.0,100.03,Snow,-2.2
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4800000.0,99.95,Snow,-2.0
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9700000.0,99.91,Snow,-2.0
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11300000.0,99.89,Snow,-2.1

.drop() function             
used to drop column(s) of a dataframe

In [25]:
d1.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (kilometer),Stn Press (kPa),Weather,new_temp_col
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8000000.0,101.24,Fog,-5.7
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8000000.0,101.24,Fog,-5.5
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4000000.0,101.26,"Freezing Drizzle,Fog",-5.2
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4000000.0,101.27,"Freezing Drizzle,Fog",-4.7
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4800000.0,101.23,Fog,-4.8

In [32]:
#axis: 0 means row, 1 means column
d1 = d1.drop(labels=['Temp (C)'],axis=1)
d1

,Date/Time,Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,-2.1,86,30,11.3,99.89,Snow

.sort_values() function

In [33]:
d1.head()

,Date/Time,Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-3.3,88,7,4.8,101.23,Fog

In [34]:
sorted_visibility = d1.sort_values('Visibility (km)', ascending=False)
sorted_visibility

,Date/Time,Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
3974,2012-06-14 14:00:00,5.5,33,15,48.3,102.17,Clear
2298,2012-04-05 18:00:00,-7.0,37,20,48.3,100.75,Mostly Cloudy
2311,2012-04-06 07:00:00,-8.9,50,15,48.3,101.30,Clear
2312,2012-04-06 08:00:00,-8.8,48,19,48.3,101.34,Clear
2313,2012-04-06 09:00:00,-8.4,46,17,48.3,101.37,Clear
...,...,...,...,...,...,...,...
1828,2012-03-17 04:00:00,0.1,99,0,0.2,102.15,Fog
1830,2012-03-17 06:00:00,-0.4,98,4,0.2,102.26,Freezing Fog
1834,2012-03-17 10:00:00,2.6,100,0,0.2,102.37,Fog
1833,2012-03-17 09:00:00,1.5,99,4,0.2,102.38,Fog
1831,2012-03-17 07:00:00,0.4,99,0,0.2,102.34,Fog

In [36]:
#Q. Which were the top 10 hottest values and their counts?
d1.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [40]:
r = d1['Temp (C)'].value_counts().sort_values(ascending=False)
r.loc[:10]

 16.6    65
 1.1     58
 0.8     47
 1.5     45
 19.3    44
         ..
 25.9    17
 6.4     17
 24.0    17
-6.8     17
 10.0    17
Name: Temp (C), Length: 256, dtype: int64